<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.2" targetFramework="net46" userInstalled="true" />
  <package id="Akka.Cluster" version="1.0.2.9-beta" targetFramework="net46" userInstalled="true" />
  <package id="Akka.Persistence" version="1.0.2.9-beta" targetFramework="net46" userInstalled="true" />
  <package id="Akka.Remote" version="1.0.2" targetFramework="net46" userInstalled="true" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net46" userInstalled="true" />
  <package id="Helios" version="1.4.0" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" userInstalled="true" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="Ninject.Web.WebApi" version="3.2.4.0" targetFramework="net46" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net46" userInstalled="true" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net46" userInstalled="true" />
  <package id="Unity.WebAPI" version="5.1" targetFramework="net46" userInstalled="true" />
</packages>